.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: white;
  border-top: 1px solid lightgray; */
  /* position: fixed;
  bottom: 0; */
}

.imageupload__progress {
  width: 100%;
}
