.imageupload {
  
  /* width:50%; */
  margin:10px auto;
  max-width: 500px;
  /* background-color: white;
  border-top: 1px solid lightgray; */
  /* position: fixed;
  bottom: 0; */
}

.imageupload__progress {
  width: 50%;
}


form{
  width:100%;
  display: flex;
  flex-direction: column;
}