
.app__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
  }
  
  .app__headerImage {
    object-fit: contain;
    margin-left: 50px;
  }
  
  .app__signup {
    display: flex;
    flex-direction: column;
  }
  .app__posts {
    padding: 25px;
    justify-content: center;
    display: flex;
  }
  
  .app__postsRight {
    margin-left: 20px;
  }
  
  .login__val {
    text-align: center;
    padding: 20px;
  }
  .app__loginContainer > button{
    background-color: #ff7779;
    color:white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    margin-right: 10px;
}
.app__loginContainer>button:hover{
    background-color:ivory;  
    color: #ff7779;
}
.app__log > button{
  background-color: #ff7779;
  color:white;
  text-transform: inherit;
  margin-top: 20px;
  font-weight: 600;
  margin-right: 10px;
}
.app__log>button:hover{
  background-color:ivory;  
  color: #ff7779;
}