.Sidebar {
  height: 100%;
  width: 260px;
  position: fixed;
  border: 1px solid var(--border-color);
  top: 50;
  left: 0;
  background-color: var(--secondary-app-color);
  overflow-x: hidden;
  padding-top: 20px;
}

.Sidebar > * {
  color: var(--text-color);
}

.SidebarList {
  height: 15%;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarRow {
  width: 100%;
  height: 60%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0%;
  justify-content: center;
  align-items: center;
  font-family: Verdana;
}

.SidebarList .SidebarRow:hover {
  cursor: pointer;
  background-color: var(--primary-app-color);
}

.SidebarList #active {
  background-color: var(--primary-app-color);
}
.SidebarRow #RowIcon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.SidebarRow #RowTitle {
  flex: 70%;
}
