@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-app-color: #fafafa;
  --secondary-app-color: #fff;
  --border-color: #d3d3d3;
  --primary-text-color: #0cb7d3;
  --secondary-text-color: #0790a5;
}

* {
  margin: 0;
  font-family: Poppins, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-app-color);
}

.container {
  position: absolute;
  height: 100%;
}

*::-webkit-scrollbar {
  appearance: none;
  -webkit-appearance: none;
  width: 10px;
  background-color: var(--primary-app-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary-app-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-color);
}

@media (max-width: 600px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
