* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
