* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-evenly;
  line-height: normal;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
  color: #e50914;
}
.app__posts {
  padding: 25px;
  justify-content: center;
  display: flex;
}

.app__postsRight {
  margin-left: 20px;
}

.login__val {
  text-align: center;
  padding: 20px;
}
.app__header{
  display: flex;
}
.header{
  position: sticky;
  top:0;
  display: flex;
  background-color: white;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  z-index: 999;
}
.header__left{
  display: flex;
}
.header__left > img {
  object-fit: contain;
  height: 40px;
  margin-right: 10px;
  padding-left: 20px;
}

.header__search{
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 22px;
  color: gray;
  background-color: #eef3f8;
}
.header__search > input{
  outline: none;
  border: none;
  background: none;
}
.header__right{
  display: flex;
}
