.post__image {
  width: 100%;
  max-height: 400px;
  max-width: 400px;
  object-fit: contain;
}

.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;
  display: inline-block;
}

.post__text {
  font-weight: normal;
  padding: 20px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post__commentBox {
  display: flex;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__comments {
  padding: 10px;
}

.post__button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
  border-top: 1px solid lightgray;
}

.login__button {
  margin: 10px;
  justify-content: space-between;
}
